<div class="login-background">
  <div class="login-container">
    <h2 class="login-title">Connexion</h2>

    <form>
      <!-- Champ Email -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="exemple@bio.com" required />
      </mat-form-field>

      <!-- Champ Mot de passe -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" required />
      </mat-form-field>

      <!-- Bouton -->
      <button class="login-button" type="submit" routerLink="/admin">
        Se connecter
      </button>

      <!-- Lien mot de passe oublié -->
      <div class="login-help">
        <a href="#">Mot de passe oublié ?</a>
      </div>
    </form>
  </div>
</div>
